#root {
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #4695ea;
  padding: 16px;
  height: calc(100vh - 250px);
}

.light-primary-color {
  background-color: #0a457b80;
}

/* .is-active > div {
  transition: all ease 0.5s;
  height: 200px;
} */
