#root {
  width: 100%;
  height: 100vh;
  background-color: #4695ea;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #4695ea;
  padding: 8px;
  height: 600px;
}

.light-primary-color {
  background-color: #0a457b80;
}

.splide__slide {
  width: auto !important;
}

.splide__pagination {
  display: none !important;
}

.splide__arrow {
  background-color: transparent !important;
}

/* .splide__arrow--next {
  right: 25px !important;
} */
