#root {
  width: 100%;
  height: 100vh;
  background-color: #4695ea;
  min-height: 843px;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #4695ea;
  height: 635px;
}

.light-primary-color {
  background-color: #0a457b80;
}

.splide__slide {
  width: auto !important;
}

.splide__pagination {
  display: none !important;
}

.splide__arrow {
  background-color: transparent !important;
}

.is-active.is-visible .slide-container {
  opacity: 1 !important;
  transition: all ease-in 0.2s;
}

.is-active.is-visible .box {
  height: 180px !important;
  transition: all ease-in 0.2s;
}
